body{
   background-color: brown;
    
}
/* navigation bar */
#navigation{
    position: fixed;    
    width: 100%;
    padding-right: 15%;
    
     background-color: blanchedalmond;
    text-decoration-color: rgb(81, 63, 63);
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.nav{
    /* background-color: rgb(40, 172, 201); */
    line-height: 20px;
    text-decoration: none;
    
        
}
  button{
    
    border-color: azure;
    border-radius: 7px;
    height: 35px;
    width: 100px;
  }
  button:hover{
    background-color: rgb(15, 198, 19);
  }
  #logo{
    display:flex;
    align-items: center;
    justify-content: space-around;
  }

  #logo img{
    height: 25px;
  }
/* landing page */
#landing{ 
   
    /* font-style:before ; */
    display:flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    
}
#landing p{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}

#landing img{
height: 70vh;
border-radius: 6%;
border-style: ridge;
border-color: green;
}
/*project images*/
#project{
    margin-bottom: 10%;
}
#project h1{
    text-align: center;
    text-decoration: blue;
}
#images{
    height:60vh;
    
    display: flex;
    margin-top: 50px;
    justify-content: space-around;
    
}
/* footer */
#footer{
    background-color: rgb(56, 20, 107);
    text-align: center;
    margin-top:20px
    align-content: center;
    /* display:flex;
    flex-direction:row ; */

}
#footer a{
    color: #c3d1c2;
    
}
a:hover{
    background-color: rgb(98, 98, 175);
}
#icons{
    padding-left: 40%;
    padding-right:40%;
    display:flex;
    justify-content: space-between;
}